<!DOCTYPE html>
<html lang="en">
<head>

 @@include('../includes/head.html')

</head>
<body>

  <!-- Content Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
		<div class="eight columns" style="margin-top: 10%">

			<!--DISPLAY-TITLE-->
			<!--CONTENT-->
			<div style="float:left;"><!--PREVIOUS--></div> 
			<div style="float:right;"> <!--NEXT--></div>
			<div style="margin-left:auto; margin-right:auto; text-align:center;"><a href='index.html'>Home</a> | <a href='contents.html'>Contents</a></div>
			<br />
			<br />
		</div>
    </div>
  </div>

  <script src='hc.min.js'></script>

</body>
</html>
